* {
   /* outline: 2px solid red; */
}

.sec-one {
    background-color: #1F2937;  
}

.image {
  max-width: 300px;
  margin: 0 100px; 
}

.header {
    display: flex;
    justify-content: space-around;
    padding-top: 10px;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: 900;
}

ul {
    display: flex;
    margin: 0;
    padding: 0;
    gap: 30px;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.sub-header {
    display: flex;
    justify-content:center;
    align-items: center;
    flex-wrap: wrap;
}
.button {
    border-radius: 15%;
    padding: 10px 40px;
    font-size: 13px;
    background-color: #3882f6;
    color: #f9faf8;
    font-weight: 900;
}

.texts {
  flex: 1 0 0;
  margin-left: 130px;
  padding-bottom: 30px;
  margin-top: 60px;
    
}
.text-a {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
    margin: 0;
}

.text-b {
    font-size: 18px;
    color: #E5E7EB;
    margin-top: 5px;
}


/* Section Two */

.info {
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    padding: 30px 0px;
}

.boxes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}

.container {
    width: 170px;
}

.box {
    height: 100px;
    width: 100px;
    border: 3px solid blue;
    border-radius: 10%;
}

/* Section Three */

.sec-three {
    background-color: #E5E7EB;
    padding: 100px;
}

.message {
    color: #1F2937;
    font-size: 36px;
    font-style: italic;
}

.quoter {
    font-style: none;
    font-weight: 900;
    display: flex;
    justify-content: flex-end;
}

/* Section Four */

.sec-four {
    padding: 100px;
}

.persuade {
    background-color: #3882f6;
    display: flex;
    justify-content: space-around;
    padding: 40px 50px;
    border-radius: 2%;

}

#important, #follower, #down {
    color: #ffffff;
}

#important {
    font-weight: 900;
    
}

#important, #follower {
    margin: 0px;
}

#down {
    background-color: #3882f6;
    border: 2px solid #f9faf8;
    width: 15%;
    border-radius: 10%;
}

.call-sign {
    display: flex;
    flex-direction: column;
    align-content: center;
}

/* Section Five */

.sec-five {
    padding: 25px;
    background-color: #1f2937;
    display: flex;
    justify-content: center;
}

.footer {
    color: #E5E7EB;
}